@import url("./styles/tooltip.css");

:root {
  /* CSS variables */
  --top-layer: 1000;
  --overlap-layer: calc(var(--top-layer) / 2);
  --maincolor-red: rgb(190, 30, 60);
  --maincolor-darkblue: rgb(0, 63, 87);
}

body {
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  margin: 0;
  background-color: white;
}

a {
  text-decoration: none;
}

.Link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.highlight {
  z-index: calc(var(--top-layer) - 1);
  border-radius: 5px;
  box-shadow: 0 0 0 10px white;
  position: relative;

  transition: all 0.3s ease-out;
}
