/* Hauptcontainer für den Language Selector */
.languageSelector {
  position: fixed; /* Globus rechts platzieren */
  top: 30px; /* Vertikal zentrieren */
  right: 50px; /* Abstand vom rechten Rand */
  transform: translateY(-50%); /* Perfekte vertikale Zentrierung */
  cursor: pointer;
}

/* Globus-Icon */
.globeContainer {
  width: 45px;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: #c84f4f; */
}

.globeIcon {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.languageSelector:hover .dropdown {
  display: block;
}

.globeContainer:hover {
  /* Wandelt das schwarze icon in unsere mein-red farbe um. Mithilfe von https://isotropic.co/tool/hex-color-to-css-filter/ */
  filter: invert(15%) sepia(43%) saturate(6881%) hue-rotate(338deg) brightness(95%) contrast(88%);
}

/* Dropdown-Menü */
.dropdown {
  display: none;
  position: absolute;
  top: 45px; /* Abstand unter dem Globus-Icon */
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 120px; /* Breite des Dropdown-Menüs */
}

/* Einzelne Dropdown-Optionen */
.dropdownItem {
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
  color: var(--main-red);
}

/* Flaggen-Icons in den Dropdown-Optionen */
.flagIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  object-fit: contain;
}

.checkmark {
  position: absolute;
  right: 8px;
}
