:root {
  --background-header: white;
  --height-header: 65px;
}

.header-container {
  height: var(--height-header);
  width: 100%;
  background-color: var(--background-header);
  display: flex;
  position: fixed;
  top: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.menu-container {
  display: flex;
  column-gap: 15px;
  margin-left: 100px;
  transition: all 0.2s ease;
}

.menu-item {
  background-color: var(--background-header);
  color: var(--maincolor-darkblue);
  height: 100%;
  width: 160px;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.menu-item:hover {
  color: var(--maincolor-red);
}

/* includes button to hover*/
.dropdown-container {
  display: block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
}
.dropdown-content .menu-item {
  height: 45px;
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.2);
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

@media (max-width: 950px) {
  .menu-container {
    margin-left: 50px;
    column-gap: 5px;
  }
  .menu-item {
    width: 140px;
  }
}

@media (max-width: 790px) {
  .menu-container {
    display: none;
  }

  .menu-container.open {
    display: block;
    flex-direction: column;
    position: absolute;
    top: var(--height-header);
    right: 0;
    left: 0px;
    margin: 0;
  }

  .menu-item {
    background-color: var(--maincolor-darkblue);
    color: white;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .menu-item:hover {
    background-color: rgb(0, 84, 117);
    color: white;
  }

  .dropdown-container,
  .dropdown-content {
    width: 100%;
  }
}
