.home-buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

.home-button-link {
  border: 8px solid var(--main-darkblue);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 290px;
  width: 600px; /*! remove this*/
  height: 580px;

  transition:
    box-shadow 0.15s,
    transform 0.15s;
}
.home-button-link:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px);
}

.home-button-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-darkblue);
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  padding-bottom: 4px;
}

.home-button-img {
  width: 100%;
  height: 100%;
}

.home-button-text {
  color: var(--main-darkblue);
  padding: 5px 0;
}

.sortsensei-img {
  background: linear-gradient(rgb(142, 244, 251), rgb(0, 148, 206));
}

.treetutor-img {
  background: linear-gradient(rgb(177, 248, 181), rgb(134, 208, 30));
}

.unsorted-bar {
  fill: white;
}
