/* The outermost container that wraps everything */
.treeTemplateContainer {
  position: relative;
  width: 100%;
  min-width: 400px;
  max-width: 550px;
  padding-top: 100%;
  margin: 0;
}

.svg {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.node circle {
  fill: #ecf0f1;
  stroke: rgb(0, 63, 87);
  stroke-opacity: 0.8;
  stroke-width: 3.5px;
}

.node div {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.text {
  fill: #247d24;
  font-size: 1.2rem;
  text-anchor: middle;
}

.link {
  fill: none;
  stroke: rgb(0, 63, 87);
  stroke-opacity: 0.8;
  stroke-width: 2px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.buttonContainer button {
  font-size: 20px;
  width: 45%; /* Nutzt die volle Breite des Containers */
  white-space: nowrap; /* Verhindert Umbrüche */
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 5px;
}

.buttonContainer button:active {
  opacity: 0.8;
}

.addNodeLeft {
  margin-right: auto;
  order: -1;
}
.addNodeRight {
  margin-left: auto;
  order: 1;
}
