.icon-container {
  position: fixed; /* icon rechts platzieren */
  top: 30px; /* Vertikal zentrieren */
  right: 110px; /* Abstand vom rechten Rand */
  transform: translateY(-50%); /* Perfekte vertikale Zentrierung */
  cursor: pointer;

  width: 45px;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: var(--header-layer);
}

.help-tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-icon {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.help-icon:hover {
  /* Wandelt das schwarze icon in unsere mein-red farbe um. Mithilfe von https://isotropic.co/tool/hex-color-to-css-filter/ */
  filter: invert(15%) sepia(43%) saturate(6881%) hue-rotate(338deg) brightness(95%) contrast(88%);
}
