header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.header-content {
  display: flex;
  flex-direction: row;
  height: 87px;
  /* align-items: center; */
  /* justify-content: center; */
}

.header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 30, 60);
  width: 260px;
  height: 97px;
  margin-top: 10px;
  padding: 2px 10px;
}

.header-logo-image {
  width: 70px;
  margin-right: 15px;
}
.header-logo-text {
  font-size: 18px;
  color: white;
  font-weight: 600;
  line-height: 25px;
}
.header-nav {
  margin-left: 100px;
}
.header-nav-list {
  display: flex;
  list-style-type: none;
  height: 100%;
  color: #003f57;
  font-size: 18px;
  font-weight: 600;
  column-gap: 100px;
  transition: all 0.3s ease-in-out;
}
.header-nav-list-item {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.Link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: block;
}
* {
  box-sizing: border-box;
}
@media (max-width: 900px) {
  .header-nav-list {
    font-size: 16px;
    transition: 0.3s ease-in-out;
    column-gap: 50px;
  }
  .header-nav {
    margin-left: 50px;
    transition: all 0.3s ease-in-out;
  }
  .header-logo-container {
    width: 250px;
    height: 87px;
    margin-top: 0;
    transition: all 0.3s ease-in-out;
    /* vertical-align: middle; */
  }
  .header-logo-image {
    height: 80%;
    margin-right: 15px;
    margin-left: 15px;
  }
  .header-logo-text {
    font-size: 16px;
  }
}

.hamburger {
  display: none;
  position: fixed;
  top: 25px;
  right: 10px;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
@media (max-width: 710px) {
  .header-nav-list {
    display: none;
  }
  .header-nav-list.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 87px;
    right: 0;
    left: 0;
    height: auto;
    background-color: white;
    box-shadow: 10px -5px 10px rgba(0, 0, 0, 0.2);
  }
  .header-nav-list-item {
    cursor: pointer;
    height: 50px;
    padding-left: 30px;
  }
  .header-nav-list-item:hover {
    background-color: #003f57;
    color: white;
  }
  .hamburger {
    display: inline-block;
    transition: all 0.3s ease-in-out;
    z-index: 200;
  }
}

* {
  box-sizing: border-box;
}
