/* ----------- Tutorial modal ----------- */
.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  width: 440px;
  border-radius: 0.5rem;

  z-index: var(--top-layer);

  color: rgb(50, 50, 50);
}
@media (max-width: 550px) {
  .dialog {
    width: 80%;
  }
}

/* Transparent overlay */
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  z-index: var(--overlap-layer);

  display: none;
  filter: blur(5px);
}

.overlay.open {
  display: inline-block;
}

/* ----------- Content styles ----------- */
h2 {
  margin-bottom: 0.9rem;
  text-align: center;
}

p {
  text-align: center;
}

/* ----------- Tutorial steps ----------- */
.step-3 {
  top: 190px;
}

/* The green (optimum) bar in Firefox */
/* .progress-bar::-moz-meter-bar {
  background: var(--optimum);
}
/* The green (optimum) bar in Chrome etc. */
/* .progress-bar::-webkit-meter-optimum-value {
  background: var(--optimum);
}  */
/* ----------- Buttons and slide index ----------- */

.nav-buttons-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.nav-buttons-container > :only-child {
  flex: 1;
}

.start-button,
.back-button,
.next-button,
.finish-button {
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 1.5rem;

  font-size: 0.9rem;
  font-weight: bold;

  transition: all 0.2s ease-in-out;
}
.start-button:hover,
.back-button:hover,
.next-button:hover,
.finish-button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.start-button {
  background-image: linear-gradient(to right, #be1e3c, #ff6b6b); /* Define gradient */
  color: white;
  outline: none;
}
.back-button {
  background: none;
  font-weight: 600;
}
.next-button {
  background-color: rgb(245, 139, 0);
  color: white;
  outline: none;
}
.finish-button {
  background-color: #00ab61de;
  color: white;
}
