.node circle {
  fill: #ecf0f1;
  stroke: #247d24;
  stroke-opacity: 0.8;
  stroke-width: 2.5px;
}

.text {
  fill: #247d24;
  font-size: 16px;
  text-anchor: middle;
}

.link {
  fill: none;
  stroke: #247d24;
  stroke-opacity: 0.8;
  stroke-width: 2px;
}
