.main-container {
  margin-top: -28px;
  width: 100%;
}

.inner-table-buttons-container {
  margin-top: 0.6rem;
  position: relative;
}

.outer-table-buttons-container {
  /* width: 1300px; */
  min-height: 280px;
  display: flex;
  justify-content: safe center;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding-bottom: 1rem;
}
