@import url("./styles/tooltip.css");

:root {
  /* CSS variables */
  --top-layer: 1000;
  --overlap-layer: calc(var(--top-layer) / 2);
  --main-red: rgb(190, 30, 60);
  --main-darkblue: rgb(0, 63, 87);
}

body {
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

main {
  display: flex;
  flex: 1; /* Take up remaining space between header and footer */
  flex-direction: column;
  padding: 100px 0 20px 0;
  align-items: center;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.highlight {
  z-index: calc(var(--top-layer) - 1);
  border-radius: 5px;
  box-shadow: 0 0 0 10px white;
  position: relative;
  transition: all 0.3s ease-out;
}
