.viz-container {
  display: flex;
  flex-direction: row;
  padding: 0 10px 0 10px;
  height: 100%;
  column-gap: 10px;
  justify-content: center;
}
.bar-container {
  display: flex;
  flex-direction: column;
  width: calc(100% / 13);
  justify-content: end;
  text-align: center;
}
.bar {
  background-color: rgb(0, 63, 87);
  margin: 0 auto;
  width: 100%;
  max-width: 50px;
}

text {
  font-size: 12px;
  fill: #495057;
}

rect {
  transition: fill 0.3s ease;
}