svg {
  --light-blue: rgb(116, 192, 252);
  --green: rgb(95, 209, 112);
  --gold: rgb(252, 203, 64);
  --soft-yellow: rgb(255, 211, 87);
  --red: rgb(231, 65, 65);
}

.viz-container {
  display: flex;
  flex-direction: row;
  padding: 0 10px 0 10px;
  height: 100%;
  column-gap: 10px;
  justify-content: center;
  transition: transform 8s ease;
}
.viz-container svg {
  display: block;
  border: 3px solid var(--maincolor-darkblue);
  border-radius: 15px;
}
/* .viz-container rect {
  fill: var(--maincolor-darkblue);
} */

text {
  font-size: 12px;
  fill: var(--maincolor-darkblue);
}

rect {
  transition: fill 0.3s ease;
}
.viz-container g {
  transform-origin: center;
  will-change: transform;
}
.bar-base {
  fill: var(--light-blue);
}
.bar-text {
  color: var(--maincolor-darkblue);
  font-size: 15px;
  text-anchor: middle;
}
.swapped-bar {
  fill: var(--maincolor-red);
}

.sorted-bar {
  fill: var(--green);
}
