button {
  cursor: pointer;
}

.generate-buttons,
.solve-speed-buttons {
  position: absolute;
  height: auto;
  max-width: 220px;
}
.generate-buttons {
  top: 0px;
  left: -230px; /* Align to the right edge of the container */
}

.solve-speed-buttons {
  bottom: 10px;
  right: -200px;
}

.solve-buttons,
.generate-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.submit-button {
  margin-bottom: 20px;
}
.no-submitting {
  display: none;
}

input {
  height: 30px;
  font-size: 15px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgba(190, 30, 59, 0.87);
}
input:focus {
  outline: 1px solid rgb(91, 133, 191);
}
input::placeholder {
  font-size: 13px;
}

.solve-buttons button,
.generate-buttons button,
.pseudo-button {
  background-color: white;
  border-radius: 4px;
  padding: 8px 16px;
  color: rgb(190, 30, 60);
  font-size: 16px;
  font-weight: 800;
  border: 1px solid rgb(190, 30, 60);
}
.solve-buttons button:hover,
.pseudo-button:hover,
.generate-buttons button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.solve-buttons button:active,
.pseudo-button:active,
.generate-buttons button:active {
  opacity: 0.8;
}

.array-length-container input {
  width: 50px;
}

.speed-buttons-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.solve-buttons button,
.generate-buttons .submit-button,
.generate-buttons .close-button {
  background-color: rgb(190, 30, 60);
  color: white;
}

.pseudo-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  z-index: 300;
  top: 0;
  width: 120px;
  height: 45px;
}

@media (max-width: 850px) {
  .pseudo-button {
    display: none;
  }
}
