caption {
  caption-side: bottom;
}
td {
  margin: 0;
  padding: 0;
}

.inner-table-buttons-container {
  margin-top: 0.8rem;
  position: relative;
  max-width: 1300px;
}

.outer-table-buttons-container {
  display: flex;
  justify-content: center;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.table-container {
  background-color: rgb(248, 248, 248);
  overflow: auto;
  height: 345px;
  padding-top: 0.8rem;
  padding-right: 1rem;
  height: calc(100vh - 380px); /* Subtract header, total 335px */
  max-height: 621px;
  border-radius: 10px;
}

/*----------------- Table rows -----------------*/
.index-row-container,
.start-row-container,
.row-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.start-row-container {
  background-color: rgb(230, 230, 230);
  padding: 0.5rem 0;
  border-radius: 10px;
}

.index-row-container {
  margin-bottom: 1px;
}

.index-row-index,
.list-index,
.row-index {
  width: 2.5rem; /* Adjust this width based on your needs */
  text-align: right; /* Align the number to the right */
  padding-right: 0.5rem; /* Add space between the index and the input cells */
  font-size: 1.2rem;
  font-weight: 500;
}

.index-row-index {
  font-weight: 400;
  font-size: 0.8rem;
  font-style: italic;
  padding-right: 0.3rem;
  color: rgb(98, 98, 98);
}

.list-index {
  font-weight: 600;
  padding-right: 0.2rem;
}

.column-index,
.cell-input {
  /* Styles for your cell input */
  width: 3rem; /* Adjust width as needed */
  height: 2rem;
  text-align: center;
  font-size: 1.3rem;
  margin: 0;

  border: 1px solid rgb(220, 220, 220);
  border-left-width: 0.5px;
  border-right-width: 0.5px;

  outline: none;
}
.cell-input:hover:not(:focus):not(:disabled) {
  background-color: rgb(234, 234, 234);
  cursor: pointer;
}
.cell-input:focus {
  outline: none;
  border-color: rgb(59, 130, 246);
}

.column-index {
  border: none;
  height: auto;
  font-size: 1rem;
  color: rgb(98, 98, 98);
}

.in-merge-range {
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: 500;
}
/* .in-merge-range:hover:not(:focus):not(:disabled) {
  background-color: rgb(94, 219, 4);
}
.in-merge-range:focus {
  border: 1px solid rgb(38, 112, 1);
} */

.merge-range-start {
  border-left: 1px solid black;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.merge-range-end {
  border-right: 1px solid black;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* Correct User input */
.correct {
  color: rgb(21, 87, 36); /* Darker green for text to indicate success */
  background-color: rgba(40, 167, 69, 0.1); /* Hellerer Grünton */
}
.correct:hover:not(:focus):not(:disabled) {
  background-color: rgba(40, 167, 70, 0.301);
  border: 1px solid rgb(38, 112, 1);
}
.correct:focus {
  background-color: rgba(40, 167, 70, 0.35);
  border: 1px solid rgb(38, 112, 1);
}

/* Incorrect User input */
.incorrect {
  background-color: rgb(248, 215, 218); /* Light red for incorrect cells */
  color: rgb(114, 28, 36); /* Darker red for text to indicate error */
}
/* Hover effect for incorrect cells */
.incorrect:hover:not(:focus):not(:disabled) {
  background-color: rgb(241, 193, 198); /* Slightly darker red on hover */
  border: 1px solid rgba(200, 35, 51, 0.726); /* Darker red border on hover */
}
/* Focus effect for incorrect cells */
.incorrect:focus {
  background-color: rgb(236, 181, 186); /* Even darker red when focused */
  border: 1px solid rgb(172, 16, 33); /* Stronger border color on focus */
  /*box-shadow: 0 0 3px rgba(172, 16, 33, 0.5); /* More pronounced shadow when focused */
}
