.viz-container {
  display: flex;
  flex-direction: row;
  padding: 0 10px 0 10px;
  height: 100%;
  column-gap: 10px;
}
.bar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: end;
  text-align: center;
}
.bar {
  background-color: rgb(0, 63, 87);
}
