.inner-table-buttons-container {
  margin-top: 20px;
  position: relative;
  max-width: 1300px;
}

.outer-table-buttons-container {
  display: flex;
  justify-content: center;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.table-container {
  background-color: rgb(245, 245, 245);
  overflow: auto;
  height: 345px;
  padding-top: 1rem;
  padding-right: 1rem;
  height: calc(100vh - 335px); /* Subtract header, total 335px */
  max-height: 621px;
}

.row-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.row-index {
  width: 2.5rem; /* Adjust this width based on your needs */
  text-align: right; /* Align the number to the right */
  padding-right: 0.5rem; /* Add space between the index and the input cells */
  font-size: 1.3rem;
  font-weight: 600;
}

.cell-input {
  /* Styles for your cell input */
  width: 3rem; /* Adjust width as needed */
  height: 2rem;
  text-align: center;
  font-size: 1.3rem;

  border: 1px solid rgb(220, 220, 220);
  border-left-width: 0.5px;
  border-right-width: 0.5px;

  outline: none;
}
.cell-input:hover:not(:focus):not(:disabled) {
  background-color: rgb(234, 234, 234);
  cursor: pointer;
}
.cell-input:focus {
  outline: none;
  border-color: rgb(59, 130, 246);
}

.in-merge-range {
  background-color: rgba(86, 207, 0, 0.911);
  border: none;
}
.in-merge-range:hover:not(:focus):not(:disabled) {
  background-color: rgb(94, 219, 4);
}
.in-merge-range:focus {
  border: 1px solid rgb(38, 112, 1);
}

/* Correct User input */
.correct {
  color: rgb(21, 87, 36); /* Darker green for text to indicate success */
  background-color: rgb(212, 237, 218); /* Light green for correct cells */
}
.correct:hover:not(:focus):not(:disabled) {
  background-color: rgba(86, 207, 0, 0.712);
  border: 1px solid rgb(38, 112, 1);
}
.correct:focus {
  border: 1px solid rgb(38, 112, 1);
}

/* Incorrect User input */
.incorrect {
  background-color: rgb(248, 215, 218); /* Light red for incorrect cells */
  color: rgb(114, 28, 36); /* Darker red for text to indicate error */
}
/* Hover effect for incorrect cells */
.incorrect:hover:not(:focus):not(:disabled) {
  background-color: rgb(241, 193, 198); /* Slightly darker red on hover */
  border-color: rgb(200, 35, 51); /* Darker red border on hover */
}
/* Focus effect for incorrect cells */
.incorrect:focus {
  background-color: rgb(236, 181, 186); /* Even darker red when focused */
  border: 1px solid rgb(172, 16, 33); /* Stronger border color on focus */
  box-shadow: 0 0 3px rgba(172, 16, 33, 0.5); /* More pronounced shadow when focused */
}
