.tips-container {
  position: absolute;
  left: -180px;
  z-index: 0;
  font-size: 1.2rem;
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.8rem;
}
