.main-container {
  margin-top: -25px;
}

.inner-table-buttons-container {
  margin-top: 0.6rem;
  position: relative;
}

.outer-table-buttons-container {
  /* width: 100vw; */
  min-height: 250px;
  display: flex;
  justify-content: center;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding-bottom: 1rem;
}
